<!DOCTYPE html>
<html>
    <head>
        <title>Early detection of chronic kidney disease</title>
        <link rel="stylesheet" type="text/css" href="/static/stylesheets/homepage.css">
    </head>
    <body>
        <div class="header">
            <div class="inner-header">
                <div class="logo">
                    <a href="https://smartinternz.com/">
                    <img src="https://smartinternz.com/assets/logo/smartinternz.png" >
                </a>
                </div>
                  
                <div class="header-link">
                    <a href="/Prediction"><button class="button">Prediction</button></a>
                </div>
                
                
                <div class="header-link">
                    <a href="/Home"><button class="button">Home</button></a>
                </div>
                
            </div>
        </div>
        <div class="content">
            <div class="banner-image">
                <div class="inner-banner-image">
                    <div class="banner-content">
                        <h1>EARLY DETECTION OF CHRONIC KIDNEY DISAESE</h1>
                    </div>
                </div>
            </div>
        </div>
        
        
      
    </body>
</html>